<main>
 <div class="row">
  <div class="col-lg-12 m-4">
   <div class="container">

     <%= image_tag attachment_url(@post, :picture), size: "widthxheight", class: "img-fluid" %>

     <%= link_to end_user_path(@post.end_user_id), class: "text-dark" do %>
      <p><%= @post.end_user.name %>さん</p>
     <% end %>

     <p><%= @post.content %></p>
     <p>投稿日　<%= @post.created_at.strftime("%Y年 %m月 %d日")  %></p>

     <% @tags.each do |tag| %>
      <p><%= tag.tag_name %></p>
     <% end %>

     <% if @post.end_user == current_end_user %>
      <%= link_to "編集", edit_post_path(@post.id) %>
      <%= link_to "削除", post_path, method: :delete, data: {confirm: "本当に削除しますか？"} %>
     <% end %>

    <div class="like">

     <% if @post.end_user != current_end_user %>


      <div id="like_<%= @post.id %>">
       <%= render 'public/likes/like' %>
      </div>

     <% end %>

    </div>

    <div class="comments">
     <p>コメント入力フォーム</p>
     <!--部分テンプレート化-->
     <!--コメントフォーム-->
     <div class="new-comment">
      <%= render 'public/comments/form', post: @post, comment: @comment %>
     </div>
     <!--コメント一覧部分-->
     <div id="comments_area">
      <%= render 'public/comments/post_comments', post: @post %>
     </div>
    </div>
  </div>
 </div>
</main>
