<main class="container">
 <div class="row">

  <div class="col-7">
   <h4 class="mt-5">管理者ログイン</h4>
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <table class="d-flex justify-content-center">
    <tr>
     <td><p class="m-2"><%= f.label :email, "メールアドレス" %></p></td>
     <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
     <td><p class="m-2"><%= f.label :password, "パスワード" %></p></td>
     <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
    <tr>
     <td></td>
     <td><%= f.submit "ログイン", class: 'btn btn-primary btn-sm' %></td>
    </tr>
   </table>
   <% end %>
  </div>

 </div>
</main>