<%= form_with model:[post, comment], local: false do |f| %>
  <!--エラーメッセージ-->
  <div id="comments-error">
   <%= render 'layouts/error_messages', object: f.object %>
  </div>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.submit "送信する" %>
<% end %>