<main>
 <div class="row">
  <div class="col-lg-12 m-4">
   <div class="container">
     <%= image_tag attachment_url(@post, :picture), size: "widthxheight", class: "img-fluid" %>
     <p><%= @post.end_user.name %>さん</p>
     <p><%= @post.content %></p>
     <% @tags.each do |tag| %>
     <p><%= tag.tag_name %></p>
     <% end %>

    <div class="comments">
    <!--コメント一覧部分-->
     <div id="comments_area">
     <%= render 'admin/comments/post_comments', post: @post %>
     </div>
    </div>

   </div>
  </div>
 </div>
</main>
